// Replace with your own

*{margin:0;padding:0}
html, body{height:100%; line-height:1;}
table{border-collapse:collapse; border-spacing:0; empty-cells:show;}
th, tr, td{text-align:left; vertical-align:top}
address,em{font-style:normal}
sub, sup{position:relative; font-size:11px;}
sub{top:5px;}
sup{top:-5px;}
a{outline:none;}
a:hover {text-decoration:none}
input, button{vertical-align:middle; overflow:visible;}
select{vertical-align:middle;}
textarea{vertical-align:top;}
label{ text-align:right;width:100px;}
hr, img, object{border:0;}
hr{color:#ccc; background:#ccc; height:1px; margin:7px 0;}
li{vertical-align:bottom; list-style:none;}